<div class="control-box" ng-controller="timeCtrl">
    <div class="control-select">
        <div class="select-header">
            <span class="select-title">选择空调类型: </span>
            <div class="select-category select-item" base-droplist>
                <div class="default-item">{{selectedAir}}<span class="icon icon-circle-down"></span></div>
                <ul class="dropdown-menu">
                    <li ng-repeat="(key, val) in airList" ng-click="selectAir(key, val)">{{key}}</li>
                </ul>
            </div>
            <!--<div class="total-btns">
                <div class="btn-item total-open" ng-click="applyControl('on')">开启选中对象</div>
                <div class="btn-item total-close" ng-click="applyControl('off')">关闭选中对象</div>
            </div>-->
        </div>
        <div class="select-content">
            <div class="floor-item" ng-class="{true: 'select-content-active', false: ''}[list.nowItem[0] === true]" >
                <div class="floor-header">
                    <span class="icon icon-plus" ng-click="list.openItem(0)"></span>&nbsp;&nbsp;一楼
                    <div class="floor-check">
                        <span  ng-click="allControl(0, true)">全选</span>
                        <span  ng-click="allControl(0, false)">全不选</span>
                    </div>
                </div>
                <div class="floor-btngroup">
                    <div class="btngroup-item" ng-repeat="(key, val) in floorList[0]">
                        <!--<span class="icon icon-checkbox-checked"></span>-->
                        <div class="btngroup-container">
                            <p class="btngroup-title">{{:: key}}</p>
                            <div class="btngroup-box">
                                <span class="icon" ng-class="{true: 'icon-checkbox-checked', false: 'icon-checkbox-unchecked'}[val[0] === true]" ng-click="selectClassAndAir(0, key, 0)"></span>
                                <span ng-class="{true: 'control-status-open', false: 'control-status-close'}[val[4] === true]">前</span>
                                <span class="icon" ng-class="{true: 'icon-checkbox-checked', false: 'icon-checkbox-unchecked'}[val[1] === true]" ng-click="selectClassAndAir(0, key, 1)"></span>
                                <span ng-class="{true: 'control-status-open', false: 'control-status-close'}[val[5] === true]">后</span>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="btngroup-item" ng-repeat="(key, val) in floorList[4]">
                        <div class="btngroup-container">
                            <p class="btngroup-title">{{:: key}}</p>
                            <div class="btngroup-box">
                                <span class="icon" ng-class="{true: 'icon-checkbox-checked', false: 'icon-checkbox-unchecked'}[val[0] === true]" ng-click="selectClassAndAir(4, key, 0)"></span>
                                <span ng-class="{true: 'control-status-open', false: 'control-status-close'}[val[6] === true]">前</span>
                                <span class="icon" ng-class="{true: 'icon-checkbox-checked', false: 'icon-checkbox-unchecked'}[val[1] === true]" ng-click="selectClassAndAir(4, key, 1)"></span>
                                <span ng-class="{true: 'control-status-open', false: 'control-status-close'}[val[7] === true]">左后</span>
                                <span class="icon" ng-class="{true: 'icon-checkbox-checked', false: 'icon-checkbox-unchecked'}[val[2] === true]" ng-click="selectClassAndAir(4, key, 2)"></span>
                                <span ng-class="{true: 'control-status-open', false: 'control-status-close'}[val[8] === true]">右后</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="floor-item" ng-class="{true: 'select-content-active', false: ''}[list.nowItem[1] === true]" >
                <div class="floor-header">
                    <span class="icon icon-plus" ng-click="list.openItem(1)"></span>&nbsp;&nbsp;二楼
                    <div class="floor-check">
                        <span ng-click="allControl(1, true)">全选</span>
                        <span ng-click="allControl(1, false)">全不选</span>
                    </div>
                </div>
                <div class="floor-btngroup">
                    <div class="btngroup-item" ng-repeat="(key, val) in floorList[1]">
                        <!--<span class="icon icon-checkbox-checked"></span>-->
                        <div class="btngroup-container">
                            <p class="btngroup-title">{{:: key}}</p>
                            <div class="btngroup-box">
                                <span class="icon" ng-class="{true: 'icon-checkbox-checked', false: 'icon-checkbox-unchecked'}[val[0] === true]" ng-click="selectClassAndAir(1, key, 0)"></span>
                                <span ng-class="{true: 'control-status-open', false: 'control-status-close'}[val[4] === true]">前</span>
                                <span class="icon" ng-class="{true: 'icon-checkbox-checked', false: 'icon-checkbox-unchecked'}[val[1] === true]" ng-click="selectClassAndAir(1, key, 1)"></span>
                                <span ng-class="{true: 'control-status-open', false: 'control-status-close'}[val[5] === true]">后</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="floor-item" ng-class="{true: 'select-content-active', false: ''}[list.nowItem[2] === true]" >
                <div class="floor-header">
                    <span class="icon icon-plus" ng-click="list.openItem(2)"></span>&nbsp;&nbsp;三楼
                    <div class="floor-check">
                        <span ng-click="allControl(2, true)">全选</span>
                        <span ng-click="allControl(2, false)">全不选</span>
                    </div>
                </div>
                <div class="floor-btngroup">
                    <div class="btngroup-item" ng-repeat="(key, val) in floorList[2]">
                        <!--<span class="icon icon-checkbox-checked"></span>-->
                        <div class="btngroup-container">
                            <p class="btngroup-title">{{:: key}}</p>
                            <div class="btngroup-box">
                                <span class="icon" ng-class="{true: 'icon-checkbox-checked', false: 'icon-checkbox-unchecked'}[val[0] === true]" ng-click="selectClassAndAir(2, key, 0)"></span>
                                <span ng-class="{true: 'control-status-open', false: 'control-status-close'}[val[4] === true]">前</span>
                                <span class="icon" ng-class="{true: 'icon-checkbox-checked', false: 'icon-checkbox-unchecked'}[val[1] === true]" ng-click="selectClassAndAir(2, key, 1)"></span>
                                <span ng-class="{true: 'control-status-open', false: 'control-status-close'}[val[5] === true]">后</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="floor-item" ng-class="{true: 'select-content-active', false: ''}[list.nowItem[3] === true]" >
                <div class="floor-header">
                    <span class="icon icon-plus" ng-click="list.openItem(3)"></span>&nbsp;&nbsp;四楼
                    <div class="floor-check">
                        <span ng-click="allControl(3, true)">全选</span>
                        <span ng-click="allControl(3, false)">全不选</span>
                    </div>
                </div>
                <div class="floor-btngroup">
                    <div class="btngroup-item" ng-repeat="(key, val) in floorList[3]">
                        <!--<span class="icon icon-checkbox-checked"></span>-->
                        <div class="btngroup-container">
                            <p class="btngroup-title">{{:: key}}</p>
                            <div class="btngroup-box">
                                <span class="icon" ng-class="{true: 'icon-checkbox-checked', false: 'icon-checkbox-unchecked'}[val[0] === true]" ng-click="selectClassAndAir(3, key, 0)"></span>
                                <span ng-class="{true: 'control-status-open', false: 'control-status-close'}[val[4] === true]">前</span>
                                <span class="icon" ng-class="{true: 'icon-checkbox-checked', false: 'icon-checkbox-unchecked'}[val[1] === true]" ng-click="selectClassAndAir(3, key, 1)"></span>
                                <span ng-class="{true: 'control-status-open', false: 'control-status-close'}[val[5] === true]">后</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="select-fixedTime">
            定时时间段:
            <ul>
                <li ng-repeat="(key, val) in list.timeList" ng-class="{true: 'item-active', false: ''}[val === fixedTimeNum]" ng-click="list.selectFixedTime(val)"><span class="icon icon-calendar"></span>{{:: key}}</li>
                <li class="confirm-btn">确认</li>
            </ul>
        </div>-->
    </div>
    <div class="control-controller">
        <div class="param-select time-select">
            <h2>预约时间选择</h2>
            <div class="param-item weekday-select">
                <div class="param-box">
                    <span ng-repeat="(key, val) in list.weekdayList" ng-class="{true: 'item-active', false: ''}[val === fixedWeekday]" ng-click="list.selectFixedWeekday(val)">{{key}}</span>
                </div>
            </div>
            <div class="param-item select-fixedTime">
                <div class="param-box">
                    <p>定时时间段</p>
                    <ul>
                        <li ng-repeat="(key, val) in list.timeList[fixedWeekday]" ng-class="{true: 'item-active', false: ''}[list.timeSelectedList[fixedWeekday][$index]]" ng-click="list.selectFixedTime(fixedWeekday, val)"><span class="icon icon-calendar"></span>&nbsp;&nbsp;第{{$index + 1}}节课&nbsp;&nbsp;{{:: key}}</li>
                    </ul>
                    <div class="modalDialog">

                    </div>
                </div>
            </div>
        </div>
        <div class="param-select">
            <h2>参数调节</h2>
            <div class="param-item">
                <p class="param-title">温度</p>
                <div class="param-box">
                    <span  ng-repeat="val in list.temperatureList" ng-class="{true: 'item-active', false: ''}[val === selectedTemperature]" ng-click="list.selectT(val)">{{:: val}}℃</span>
                </div>
            </div>
            <div class="param-item">
                <p class="param-title">模式</p>
                <div class="param-box">
                    <span ng-repeat="(key, val) in list.patternList" ng-class="{true: 'item-active', false: ''}[key === selectedPattern]" ng-click="list.selectPattern(key, val)">{{:: key}}</span>
                </div>
            </div>
            <div class="param-item">
                <p class="param-title">风速</p>
                <div class="param-box">
                    <span ng-repeat="(key, val) in list.WSList" ng-class="{true: 'item-active', false: ''}[key === selectedWS]" ng-click="list.selectWS(key, val)">{{:: key}}</span>
                </div>
            </div>
            <div class="param-item">
                <p class="param-title">风向</p>
                <div class="param-box">
                    <span ng-repeat="(key, val) in list.WDList" ng-class="{true: 'item-active', false: ''}[key === selectedWD]" ng-click="list.selectWD(key, val)">{{:: key}}</span>
                </div>
            </div>
        </div>
        <div class="param-btngroup">
            <a class="btn-item" ng-click="timeSwitchFn()">定时开关</a>
        </div>
    </div>
</div>
<!--
<div class="public-modal-dialog" ng-show="isShow" ng-controller="selectModalDialog">
    <div class="modal-dialog">
        <div class="modal-header control-modal">
            <div class="modal-title">定时开关<span class="icon icon-cross" ng-click="isShow = false"></span></div>
        </div>
        <div class="modal-body">
            <div class="select-hour select-item" base-droplist>
                <div class="default-item">{{selectedHour}}时<span class="icon icon-circle-down"></span></div>
                <ul class="dropdown-menu">
                    <li ng-repeat="item in timeList.hour" ng-click="timeList.selectHour(item)">{{item}}</li>
                </ul>
            </div>
            <div class="select-minutes select-item" base-droplist>
                <div class="default-item">{{selectedMinutes}}分<span class="icon icon-circle-down"></span></div>
                <ul class="dropdown-menu">
                    <li ng-repeat="item in timeList.minutes" ng-click="timeList.selectMinutes(item)">{{item}}</li>
                </ul>
            </div>
            <div class="select-switch select-item" base-droplist>
                <div class="default-item">{{selectedSwitch}}<span class="icon icon-circle-down"></span></div>
                <ul class="dropdown-menu">
                    <li ng-repeat="(key, val) in timeList.switchValues" ng-click="timeList.selectSwitch(key, val)">{{key}}</li>
                </ul>
            </div>
            <div class="modal-btn" ng-click="saveTime()">确认</div>
            <div class="modal-btn" ng-click="isShow = false">取消</div>
        </div>
    </div>
</div>-->
