<div class="index-header">
    <img class="header-bg" src="../images/BJFUlogo-df984b1d64.png"></img>
    <p class="header-school">北京林业大学</p>
    <p class="header-title">分体式空调管理系统</p>
    <p class="header-location">当前位置: <span>一教</span></p>
</div>
<div class="index-box">
    <div class="index-side-nav">
        <a class="bar-item" ui-sref="index.control" ui-sref-active="tab-active">空调控制</a>
        <a class="bar-item" ui-sref="index.status" ui-sref-active="tab-active">空调状态</a>
        <a class="bar-item" ui-sref="index.time-switch" ui-sref-active="tab-active">节能管理</a>
        <a class="bar-item" ui-sref="index.table" ui-sref-active="tab-active">空调报表</a>
    </div>
    <div ui-view="sub" class="public-box">

    </div>
</div>