/**
 * Created by XRene on 2015/12/10.
 */
.index-header {
  position: relative;
  box-sizing: border-box;
  font-size: 19px;
}
.index-header .header-bg {
  position: absolute;
  top: 15px;
  left: 63px;
  height: 28px;
}
.index-header .header-school {
  position: relative;
  left: 105px;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  padding-right: 10px;
  border-right: 2px solid #e3e3e3;
}
.index-header .header-title {
  position: relative;
  left: 110px;
  display: inline-block;
  font-size: 20px;
}
.index-header .header-location {
  position: relative;
  left: 120px;
  display: inline-block;
  height: 59px;
  line-height: 59px;
}
.index-header .header-location span {
  display: inline-block;
  color: #65BD8B;
}
.index-box {
  position: absolute;
  box-sizing: border-box;
  top: 59px;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 10px;
}
.index-side-nav {
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  height: 40px;
  border: 1px solid #e3e3e3;
}
.index-side-nav .bar-item {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 110px;
  box-sizing: border-box;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
